* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "iosevka nerd font";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: #1d2021;
  color: #d4be98;
  border: 2px solid #3c3836;
}

tooltip {
  background-color: #1d2021;
  border: 2px solid #7c6f64;
}

#idle_inhibitor,
#backlight,
#clock,
#tray,
#network,
#battery,
#pulseaudio {
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
}

#mode,
#scratchpad,
#workspaces {
  background-color: #303536;
  margin: 6px 0px 6px 6px;
  border: 2px solid #434a4c;
}

#workspaces button {
  all: initial;
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #c7ab7a;
}

#workspaces button.focused {
  border-color: #cc241d;
  color: #ddc7a1;
  /*background-color: #458588;*/
}

#workspaces button.urgent {
  color: #cc241d;
}

#clock,
#network,
#tray {
  background-color: #303536;
  border: 2px solid #434a4c;
  color: #d4be98;
}

#backlight,
#pulseaudio {
  background-color: #ddc7a1;
  border: 2px solid #c7ab7a;
  color: #1d2021;
}

#battery {
  background-color: #a9b665;
  border: 2px solid #c7ab7a;
  color: #1d2021;
}

#battery.warning {
  background-color: #fabd2f;
  border: 2px solid #d79921;
  color: #1d2021;
}

#battery.critical {
  background-color: #fb4934;
  border: 2px solid #cc241d;
  color: #1d2021;
}

#battery.urgent {
  background-color: #fe8019;
  border: 2px solid #d65d0e;
  color: #1d2021;
}
