* {
  /* `otf-font-awesome` is required to be installed for icons */
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}

window#waybar {
  background: #1d2021;
  color: #d4be98;
  border: 2px solid #3c3836;
}

tooltip {
  background-color: #3c3836;
  border: 2px solid #ebdbb2;
  color: #ebdbb2;
}

/*#pulseaudio-slider {
  margin: 6px 0px 6px 6px;
  padding: 2px 8px;
}*/

#idle_inhibitor {
  margin: 6px 0px 6px 6px;
  padding: 2px 8px;
}

#submap,
#clock,
#pulseaudio,
#backlight,
#network,
#battery {
  margin: 6px 0px 6px 6px;
  padding: 2px 8px;
  background-color: #3c3836;
}

#submap {
  color: #fabd2f;
  font-style: italic;
}

#tray {
  background-color: #3c3836;
  margin: 6px 6px 6px 6px;
  padding: 2px 8px;
}

#backlight {
  color: #fabd2f;
}

#network {
  color: #fe8019;
}

/*#pulseaudio-slider {
  background-color: #b16286;
  border: 2px solid #d3869b;
}*/

#pulseaudio {
  color: #fb4934;
}

#clock {
  color: #83a598;
}

#workspaces {
  background-color: #3c3836;
  margin: 6px 0px 6px 6px;
  transition: none;
}

#workspaces button {
  all: initial;
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  /*color: #c7ab7a;*/
  /*color: #1d2021;*/
  color: #ebdbb2;
}

#workspaces button.active {
  border-color: #fb4934;
  /*color: #ddc7a1;*/
  /*color: #1d2021;*/
  color: #ebdbb2;
}

#workspaces button.urgent {
  color: #cc241d;
}

/*#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #fe8019;
}*/

#battery {
  color: #8ec07c;
}

#battery.warning {
  color: #fabd2f;
}

#battery.critical {
  color: #cc241d;
}

#battery.urgent {
  color: #fe8019;
}
